*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      text-decoration: none !important;
      list-style-type: none;

}
.header-1{
      height: 80px;
      background-color: #ffffff;
      width: 100%;
      border: 2px solid red;
      padding: .5em;
}
.collapse{
      gap: 6em;
}
.navbar{
      padding: .5em;
      border: 2px solid green;
}
.navbar-nav{
      border: 2px solid orange;
}

.online-banking-login{
      padding: .5em 1em;
      background-color: #981D87;
      color: #fff;
      border-radius: 2em;
}